@font-face {
    src : url("../assets/fonts/NicoMoji-Regular.ttf");
    font-family: "nico"
}

@font-face {
    src: url("../assets/fonts/NotoSansKR-Bold.otf");
    font-family: "noto-bold";
}

@font-face {
    src: url("../assets/fonts/NotoSansKR-Regular.otf");
    font-family: "noto-regular";
}

@font-face {
    src: url("../assets/fonts/NotoSansKR-Medium.otf");
    font-family: "noto-medium";
}

body {
    height: 95vh;
    font-family: "nico";
}

button {
    height: 47px;
    background-color: #06BCC8;
    border: 0;
    outline: 0;
    color: white;
    border-radius: 50px;
    font-size: 24px;
    font-family: nico;
    cursor: pointer;
}

button:hover {
    color: black;
    box-shadow: 0 94px 0 0 rgba(0,0,0,0.25) inset,
                0 -94px 0 0 rgba(0,0,0,0.25) inset;
}

table {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 640px;
    border-spacing: 0;
}

h2#room-title {
    width: 160px;
}

h2#language {
    width: 160px;
}

.background {
    z-index: -1;
    width: 98vw;
    background-image: url('../assets/images/white-yellow-grid.png');
    background-repeat : no-repeat;
}

.big-title {
    font-size: 60px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.medium-title {
    font-size: 40px;
    position: absolute;
    top: 60px;
    left: 200px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.small-title {
    font-size: 32px;
    position: absolute;
    top: 30px;
    left: 10px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.line { 
    height: 4px;
    background-color: #06BCC8;
    border: none;
    position: absolute;
}

.sub-title {
    font-size: 24px;
    position: absolute;
    top: 88px;
    left: 512px;
    transform: translate(0, -50%);
}

.border-left {
    border-left: 1px solid #06BCC8;
    border-top: 1px solid #06BCC8;
    border-bottom: 1px solid #06BCC8;
}

.border-vertical {
    border-top: 1px solid #06BCC8;
    border-bottom: 1px solid #06BCC8;
}

.border-right {
    border-right: 1px solid #06BCC8;
    border-top: 1px solid #06BCC8;
    border-bottom: 1px solid #06BCC8;
}

.create {
}

.create#room-title {
    position: absolute;
    top: 80px;
    left: 40px;
}

.create#language {
    position: absolute;
    top: 120px;
    left: 40px;
}

.input-item {
    display: inline-block;
}

.popup {
    background-image: none;
}

#bg-index {
    height: 60%;
}

#bg-list {
    height: 170px;
}

#big-logo {
    width: 260px;
    height: 260px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

#small-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}

#big-line {
    width: 460px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, 0);
}

#medium-line {
    width: 340px;
    top: 104px;
    left: 160px;
}

#desc {
    font-family: monospace;
    font-size: 28px;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#start-button {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    transition:all 0.9s, color 0.3;
}

#refresh {
    cursor: pointer;
    /* display: inline-block; */
}

#refresh-text {
    font-size: 18px;
    position: absolute;
    top: 141px;
    left: 29%;
}

#refresh-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 157px;
    left: 37%;
}

#room-list {
    font-size: 18px;
    width: 645px;
    height: 49px;
    position: absolute;
    top: 10px;
}

#room-row {
    cursor: pointer;
}

td {
    padding: 1em 1em 1em
}

td:after {/* here comes the border leaving 1em gap in between trs */
    content:'';
    position:absolute;
    /* size it via coordonates */
    left:0;
    right:0;
    top:1em;/* leaves a gap of 1em at the top, do not forget to clear this space within the td with appropriate padding */
    bottom:0;
  }

  td:last-of-type {
    width:70px;
  }

#data-no {
    font-family: "noto-bold";
    color: #06BCC8;
    width: 30px;
    text-align: center;
}

#data-lang {
    font-family: "noto-bold";
    color: #B0B0B0;
    width: 60px;
}

#data-title {
    font-family: "noto-regular";
    color: #5C5C5C;
    width: 500px;
}

#data-people {
    font-family: "noto-medium";
    color: #06BCC8;
    width: 30px;
}

#page-num {
    height: 100px;
}

#new-button {
    position: absolute;
    width: 107px;
    top: 130px;
    left: 67%;
    transform: translate(-50%, 0);
}

#popup-title {
    left: 48px;
}

#popup-line {
    top: 64px;
    left: 21px;
    width: 250px;
}

#popup-sub {
    left: 280px;
    top: 50px;
    font-size: 20px;
}

#create-button {
    height: 47px;
    background-color: #06BCC8;
    border: 0;
    outline: 0;
    color: white;
    border-radius: 50px;
    font-size: 24px;
    font-family: nico;
    cursor: pointer;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0);
}

#create-button:hover {
    color: black;
    box-shadow: 0 94px 0 0 rgba(0,0,0,0.25) inset,
                0 -94px 0 0 rgba(0,0,0,0.25) inset;
}